<html>
<head>
    <title>user5::list</title>
</head>
<body>
    <h3>user5 목록</h3>

    <a href="/ch07">메인</a>
    <a href="/ch07/user5/register">등록</a>

    <table border="1">
        <tr>
            <td>번호</td>
            <td>이름</td>
            <td>성별</td>
            <td>나이</td>
            <td>주소</td>
            <td>관리</td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.seq}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.addr}"></td>
            <td>
                <a th:href="@{/user5/modify(seq=${user.seq})}">수정</a>
                <a th:href="@{/user5/delete(seq=${user.seq})}">삭제</a>
            </td>
        </tr>
    </table>
</body>
</html>
