<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/defaultLayout.html">

<div class="container-fluid px-4" layout:fragment="content">
    <h3 class="mt-4 mb-4">게시판 목록</h3>


    <!-- 내용 시작 -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            OOO 글목록
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="table-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>등록일</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="articles:${articles}">
                    <td>[[${articles.no}]]</td>
                    <td>
                        <a href="@{#}">[[${articles.title}]]</a>
                    </td>
                    <td>[[${articles.user.nick}]]</td>
                    <td>[[${articles.hit}]]</td>
                    <td th:text="${#strings.substring(articles.rdate, 0, 10)}"></td>
                </tr>


                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link"> &laquo; </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#"> &raquo; </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    <div class="text-end">
        <a th:href="@{/article/write(cate=${cate})}" class="btn btn-outline-primary">글쓰기</a>
    </div>
    <!-- 내용 끝 -->
</div>
</html>
