<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/defaultLayout.html">

<div class="container-fluid px-4" layout:fragment="content">

    <script>
        window.onload = function (){

            const fileLinks = document.getElementsByClassName('fileLink');

            for (const fileLink of fileLinks){
                // 파일 다운로드 요청과 동시에 다운로드 카운트 요청
                fileLink.onclick = async function(){
                    /*
                    const fno = this.dataset.fno;

                    //FileController - downloadCount 요청 메서드 실행
                    const data = await fetchGet(`/sboard/file/downloadCount/${fno}`);

                    this.nextElementSibling.innerHTML = data.count + 1;
                    */

                    const count = this.nextElementSibling.innerText;
                    this.nextElementSibling.innerText = parseInt(count) + 1;
                }
            }

            const commentForm = document.commentForm
            commentForm.onsubmit = async function (e){
                e.preventDefault();

                const jsonData = {
                    "parent"  : commentForm.parent.value,
                    "writer"  : commentForm.writer.value,
                    "content" : commentForm.content.value
                };
                console.log(jsonData);

                const data = await fetchPost(`/sboard/comment`, jsonData);

                console.log(data);

            }
        }
    </script>

    <h3 class="mt-4 mb-4">게시판 글보기</h3>

    <!-- 내용 시작 -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            000 글보기
        </div>
        <div class="card-body">

            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">글 제목</label>
                    <div type="text" class="form-control" id="exampleFormControlInput1" name="title">[[${articleDTO.title}]]</div>
                </div>

                <div th:if="${articleDTO.file > 0}" class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label" >첨부파일</label>
                    <ul class="list-group">

                        <li th:each="file:${articleDTO.fileList}" class="list-group-item d-flex justify-content-between align-items-center">
                            <!-- REST API 개발자도구 열어서 해당 링크 주소 확인해 볼것-->
                            <a th:href="@{/file/fileDownload/{fno}(fno=${file.fno})}" class="fileLink" th:data-fno="${file.fno}">[[${file.oName}]]</a>
                            <span class="badge text-bg-primary rounded-pill">[[${file.download}]]</span>
                        </li>
                    </ul>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"> 글 내용 </label>
                    <textarea class="form-control" readonly id="exampleFormControlTextarea1" rows="10" name="content">[[${articleDTO.content}]]</textarea>
                </div>
            </form>

                <div class="text-end">
                    <a th:href="@{/article/list}" class="btn btn-outline-secondary" id="btnSubmit">목록</a>
                    <!-- <button class="btn btn-outline-primary" id="btnSubmit">글수정</button> -->
                </div>

                <!-- 댓글 목록 시작-->
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">댓글목록</label>
                    <textarea class="form-control" readonly rows="3"> 댓글 내용 </textarea>
                </div>
                <form name="commentForm" method="post">
                    <input type="text" name="parent" th:value="${articleDTO.no}">

                    <input type="text" name="writer" th:value="${#authentication.principal.user.uid}">

                    <div class="input-group">
                        <span class="input-group-text" >댓글 입력</span>
                        <textarea name="content" class="form-control" aria-label="With textarea" rows="5" placeholder="댓글을 입력하세요"></textarea>
                    </div>

                    <div class="mt-3 text-end">
                        <button type="button" class="btn btn-outline-secondary">취소</button>
                        <input type="submit" class="btn btn-outline-dark" value="댓글등록">
                    </div>
                </form>

                <!-- 댓글 목록 끝-->
                <!-- 내용 끝-->

        </div>
    </div>


    <!-- 내용 끝 -->
    </div>
</html>